.Rhistory
.RData
*.swp
*.aux
*.log
*.swp
*.toc
*.out
# ignore jupyter checkpoints
.ipynb_checkpoints/

# some file that gets generated when
# we compile acm small ample pdf
*.cut

# intermediate files from generating bibliography
*.bbl
*.blg

