.Rhistory
.RData
*.swp
*.aux
*.log
*.swp
*.toc
*.out
# ignore jupyter checkpoints
.ipynb_checkpoints/

# some file that gets generated when
# we compile acm small ample pdf
*.cut

# intermediate files from generating bibliography
*.bbl
*.blg

.Rproj.user

# do not check in clear-text files related to hw-1 to abet
# plagiarisers 
hw-1.aux
hw-1.bbl
hw-1.bib
hw-1.log
hw-1.pdf
hw-1.tex

# ignore files from face data
*.pgm
*.bad
