*.R
*.tex
Class1.txt
Class2.txt
perceptron.learning.Rmd
perceptron.learning.nb.html
question-7-decis-surface.png
question-7-first-plot.png
question-7iteration-error-plot.png
Gradient.Descent.Training.Test.Split.Rmd
Gradient.Descent.Training.Test.Split.nb.update.html
q-7-change-perceptron.learning.Rmd
q-7-change-perceptron.learning.nb.html
q-8-Gradient.Descent.Training.Test.Split.Rmd
q-8-Gradient.Descent.Training.Test.Split.nb.html
q-8-change-Gradient.Descent.Training.Test.Split.nb.update.html
q-8-scatter.png
train-test-err.png

