hw-2.pdf
hw-2.tex
question1-plot.png
q3.r
best-nine-inst-nn-diagram-3-hidden.png
best-nine-inst-nn-diagram.png
binary.header.txt
data-set-with-decis-surface
data-set-with-decis-surface-3-hidden
data-set-with-decis-surface-3-hidden.png
data-set-with-decis-surface.png
neuraletpackage.rmd
nine-inst.png
nine.instances.txt
q5.r
q5b.r

